body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#floor-plan {
  display: flex;
  flex-direction: column;
}
.bed {
  background-color: teal;
  color: white;
  font-size: 9px;
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

#top {
  display: flex;
  flex-direction: row;
}

#top > * {
  flex: auto;
}

#b1-fb {
  flex-shrink: 1;
}
#b1-fb-1{
  flex-basis: 5rem;
}
#btm {
  display: flex;
  flex-direction: row;
}

#kitchen-app {
  display: flex;
  align-items: flex-start;
}

#lr {
  background-color: beige;
}